:root {
  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(207, 33%, 12%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dd-sage: hsl(156 24% 2%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);
  --sage: hsl(116 47% 22%);
  --d-sage: hsl(156 24% 18%);
  --pastel-blue: hsl(199, 70%, 79%);
  --deti: hsl(191.76, 95.61%, 16.67%);
  --l-blue: hsl(207, 32%, 63%);

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --transition: 0.25s ease-in-out;

  --section-padding: 60px;

  --radius-15: 15px;
  --radius-25: 25px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fs-4);
  /* text-align: justify;
   justify-self: first baseline; */
}
body {
  height: 200vh;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease 0.4s;
}

header.sticky {
  background: transparent;
  padding: 10px 18%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.logo {
  font-size: 35px;
  font-weight: var(--fw-600);
  letter-spacing: 1px;
  color: var(--gunmetal);
  font-family: var(--ff-montserrat);
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--gunmetal);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}

.navbar a:hover {
  background: transparent;
  color: var(--dd-sage);
  box-shadow: 5px 10px 30px rgba(26, 41, 77, 0.3);
  border-radius: 4px;
}

@media (max-width: 990px) {
  .navbar a {
    display: none;
  }
  .toggle_btn {
    display: block;
  }
}

#menu-icon {
  color: var(--dd-sage);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
/* ............................................................................................................................................ */
.booking {
  position: relative;
  width: 100%;
  height: 50%;
  background: url(../images/place1.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1f);
  align-items: center;
  display: flex;
  justify-content: center;
  /* padding: 10px; */
}

.form-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 510px;
  height: 420px;
  overflow: hidden;
  z-index: 2;
}

.register-container {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.top span {
  font-family: var(--ff-montserrat);
  color: var(--white);
  margin-left: 5px;
  font-size: smaller;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.top span a {
  font-family: var(--ff-montserrat);
  color: var(--white);
  font-weight: 500;
  margin-left: 10px;
}

h1 {
  color: var(--white);
  font-family: var(--ff-montserrat);
  font-size: 30px;
  text-align: center;
  padding: 10px 0 30px 0;
}

.two-forms {
  display: flex;
  gap: 10px;
}

.input-field {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.input-field:hover:focus {
  background: rgba(255, 255, 255, 0.2);
}
::-webkit-input-placeholder {
  color: var(--gunmetal);
}

.input-box img {
  width: 18px;
  position: relative;
  top: -35px;
  left: 17px;
  color: var(--pastel-blue);
}

.submit {
  font-size: 15px;
  font-weight: 500;
  color: var(--black);
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 1px 5px 10px 1px rgba(255, 255, 255, 0.2);
}

.two-col {
  display: flex;
  justify-content: space-between;
  color: var(--white);
  font-size: small;
  margin-top: 10px;
}

.two-col .one {
  display: flex;
  gap: 5px;
}

/* dropdown menu - responsive ------------------------------------------------------------------- */

.toggle_btn img {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
  width: 7%;
}

.dropdown_menu {
  display: none;
  background: var(--deti);
  position: absolute;
  right: 1rem;
  top: 60px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.dropdown_menu.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a {
  color: var(--gunmetal);
  font-size: 15px;
  font-weight: var(--fw-600);
  font-family: var(--ff-poppins);
}

.dropdown_menu a:hover {
  color: var(--white);
}

/* .dropdown_menu.open {
  height: 0px;
} */

/* responsive nav-bar */

@media (min-width: 1068px) {
  .toggle_btn {
    display: none;
  }
  .dropdown_menu {
    display: none;
  }
}

@media (max-width: 1068px) {
  .sticky .navbar {
    display: none;
  }
  .navbar .toggle_btn img {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 720px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media (max-width: 720px) {
  .toggle_btn {
    display: block;
    max-width: 100%;
  }
  .bx bx-menu .navbar {
    background: var(--deti);
  }
}

@media (max-width: 630px) {
  .form-box {
    width: 70%;
  }
  .input-field,
  .submit {
    font-size: 13px;
  }
}
