:root {
  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(207, 33%, 12%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dd-sage: hsl(156 24% 2%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);
  --sage: hsl(116 47% 22%);
  --d-sage: hsl(156 24% 18%);
  --pastel-blue: hsl(199, 70%, 79%);
  --deti: hsl(191.76, 95.61%, 16.67%);
  --l-blue: hsl(207, 32%, 63%);

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --transition: 0.25s ease-in-out;

  --section-padding: 60px;

  --radius-15: 15px;
  --radius-25: 25px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.info li {
  list-style: decimal;
}

a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--fs-4);
  /* text-align: justify;
       justify-self: first baseline; */
}
body {
  height: 200vh;
  overflow: hidden;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease 0.4s;
}

header.sticky {
  background: transparent;
  padding: 10px 18%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
  color: var(--oxford-blue);
}

.sticky .navbar a {
  color: var(--oxford-blue);
}

.logo {
  font-size: 35px;
  font-weight: var(--fw-600);
  letter-spacing: 1px;
  color: var(--gunmetal);
  font-family: var(--ff-montserrat);
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--gunmetal);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}

.navbar a:hover {
  background: transparent;
  color: var(--dd-sage);
  box-shadow: 5px 10px 30px rgba(26, 41, 77, 0.3);
  border-radius: 4px;
}

#menu-icon {
  color: var(--dd-sage);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 100px 10%;
}
/* ............................................................................................................................................. */
.food-container {
  display: flex;
  justify-content: space-around;
}

.food {
  position: relative;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(1, 1f);
  align-items: center;
}

.info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  /* margin-top: 2rem; */
}

.info ol {
  font-size: 15px;
  /* font-weight: var(--fw-500); */
  font-family: var(--ff-montserrat);
  line-height: 18px;
}
.box {
  position: relative;
  transition: all 0.3s cubic-bezier(0.455, 0.05, 0.55, 0.95);
  will-change: filter;
  cursor: pointer;
  margin-bottom: 100px;
  width: 100%;
  flex-shrink: 0;
}
.logo img {
  width: 70%;
  height: 30vh;
  border-radius: 10px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  flex-shrink: 0;
}

/* dropdown menu - responsive ------------------------------------------------------------------- */

.toggle_btn img {
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-self: flex-end;
}

.dropdown_menu {
  display: none;
  background: var(--l-blue);
  position: absolute;
  right: 1rem;
  top: 60px;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu a {
  color: var(--gunmetal);
  font-size: 15px;
  font-weight: var(--fw-600);
  font-family: var(--ff-poppins);
}

.dropdown_menu a:hover {
  color: var(--black);
}

.dropdown_menu.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

/* responsive nav-bar */

@media (min-width: 1365px) {
  .toggle_btn {
    display: none;
  }
  .dropdown_menu {
    display: none;
  }
}

@media (max-width: 1365px) {
  .sticky .navbar {
    display: none;
  }
  .navbar .toggle_btn img {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
}

/* emri listave - responsive */

@media (max-width: 1154px) {
  .box ol {
    width: 100%;
    font-size: 12px;
    font-family: var(--ff-montserrat);
  }
  .box img {
    display: block;
    height: 25vh;
  }
}

@media (max-width: 951px) {
  .info ol {
    font-size: 10px;
    font-family: var(--ff-montserrat);
  }
  .box img {
    display: block;
    height: 20vh;
  }
}

/* @media (max-width: 790px) {
  .food {
    display: grid;
  }
} */

@media (max-width: 720px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}

@media (max-width: 720px) {
  .toggle_btn {
    width: 25px;
    height: 25px;
  }
  .food {
    display: grid;
  }
}
