:root {
  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(207, 33%, 12%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dd-sage: hsl(156 24% 2%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);
  --sage: hsl(116 47% 22%);
  --d-sage: hsl(156 24% 18%);
  --pastel-blue: hsl(199, 70%, 79%);
  --deti: hsl(191.76, 95.61%, 16.67%);
  --l-blue: hsl(207, 32%, 63%);

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  --transition: 0.25s ease-in-out;

  --section-padding: 60px;

  --radius-15: 15px;
  --radius-25: 25px;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,
img,
span,
input,
label,
button {
  display: block;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button {
  cursor: pointer;
}

input {
  width: 100%;
}

html {
  /* font-family: var(--ff-montserrat); */
  scroll-behavior: smooth;
}
body {
  /* background-color: var(--d-sage); */
  height: 200vh;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  /* box-shadow: 0 0 7px 0 var(--gunmetal); */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 18%;
  transition: ease 0.4s;
}

.logo {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--gunmetal);
  font-family: var(--ff-montserrat);
  /* transition: ease .40s; */
}
/* .logo:hover{
   transform: scale(1.1);
} */
.navbar {
  display: flex;
}

.navbar a {
  color: var(--gunmetal);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  padding: 10px 22px;
  border-radius: 4px;
  transition: ease 0.4s;
}

.navbar a:hover {
  background: transparent;
  color: var(--dd-sage);
  box-shadow: 5px 10px 30px rgba(26, 41, 77, 0.3);
  border-radius: 4px;
}

#menu-icon {
  color: var(--dd-sage);
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  padding: 80px 10%;
}

.home {
  position: relative;
  width: 100%;
  height: 50%;
  background: url(../images/place1.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1f);
  align-items: center;
}

.home-text h1 {
  font-size: var(--fs-1);
  line-height: 1.2;
  color: var(--gunmetal);
  font-family: var(--ff-montserrat);
  letter-spacing: 4px;
  margin-top: 20px;
}

.home-text h2 {
  font-size: var(--fs-2);
  line-height: 1.2;
  color: var(--pastel-blue);
  font-family: var(--ff-montserrat);
  margin-top: 20px;
}

/* .home-text p {
  color: var(--cultured);
  font-size: 15px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 35px;
} */
.home-btn {
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px;
  background: var(--blue-ncs);
  color: var(--white);
  border-radius: 10px;
  transition: ease 0.4s;
}

.home-btn:hover {
  background: var();
  transform: scale(1.1);
}

header .sticky {
  background: var(--white);
  padding: 10px 18%;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.sticky .logo {
  color: var(--black);
}

.sticky .navbar a {
  color: var(--black);
}

.text h2 {
  font-family: var(--ff-montserrat);
  /* font-size: 30px;   */
  line-height: 1.1;
}
/* .row-items{
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, auto));
   grid-gap: 2rem;
   align-items: center;
   text-align: center;
   margin-top: 5rem;
}

.container-box{
   background-color: var(--gainsboro);
   border: 1px solid #f0eded;
   padding: 50px 10px;
   border-radius: 4px;
}
.container-img img{
   position: rel;
   top: 0;
   left: 0;
   z-index: 2;
   width: 20%;
}
.image{
   position: relative;
   top: 0;
   left: 0;
   width: 20%;
} */

.row-items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.container-box {
  background-color: var(--white);
  border: 1px solid #f0eded;
  padding: 50px 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease 0;
  cursor: pointer;
}

.container-img img {
  height: 85px;
  width: 85px;
  padding: 15px;
  background: var(--white);
  box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
}

.container-box h4 {
  font-size: 24px;
  font-weight: var(--fw-600);
  font-family: var(--ff-montserrat);
}

.container-box p {
  font-size: 15px;
  color: var(--onyx);
}

.container-box:hover {
  box-shadow: 5px 30px 56.1276px rgb(55 55 55 / 12%);
  border: 1px solid transparent;
  transform: translateY(-3px);
}

.title {
  text-align: center;
}
.title h2 {
  font-size: var(--fs-2);
  font-family: var(--ff-poppins);
  line-height: 1.2;
}
/* .rows{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
} */

.package-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 5rem;
}

.idk {
  position: relative;
  transition: all 0.3s cubic-bezier(0.455, 0.05, 0.55, 0.95);
  will-change: filter;
  cursor: pointer;
}

.idk img {
  width: 100%;
  height: auto;
}

.idk h3 {
  position: absolute;
  font-size: 25px;
  font-weight: var(--fw-600);
  font-family: var(--ff-poppins);
  text-align: right;
  color: var(--black);
  margin-top: 12px;
  left: 158px;
}

.dest-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.location h4 {
  font-size: 24px;
  font-weight: var(--fw-600);
  margin-bottom: 3px;
  font-family: var(--ff-poppins);
}

.location p {
  font-size: 15px;
  color: var(--jet);
}
